@media (min-width: 340px) and (max-width: 767px) {
  .coming {
    margin: 80px 0;
  }
  .OneComing {
    .btnn {
      bottom: 6%;
      left: 31%;
    }
  }
}
@media (min-width: 320px) and (max-width: 339px) {
  .coming {
    margin: 80px 0;
  }
  .OneComing {
    .btnn {
      bottom: 6%;
      left: 28%;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .coming {
    margin: 80px 0;
  }
  .OneComing {
    .btnn {
      bottom: 6%;
      left: 41%;
    }
  }
}